<!-- Create basic template. -->


<!DOCTYPE html>


<html lang="en" dir="ltr">


<head>


    <meta charset="utf-8">
    <title>Journal.</title>


</head>


<body>


    {% block body %}{% endblock %}


    <nav>


        <div class="">


            <a href="./nkhklksktsch/documents/strategies.html">General strategies.</a>
            <a href="./nkhklksktsch/documents/assets.html">Environmental management.</a>
            <a href="./nkhklksktsch/documents/styles.html">Style manual.</a>
            <a href="./nkhklksktsch/documents/habits.html">Healthy habits.</a>
            <a href="./nkhklksktsch/documents/libraries.html">External libraries.</a>
            <a href="./README.md">READ ME.</a>
            <a href="./LICENSE">LICENSE.</a>


        </div>


    </nav>


</body>


</html>
