/* Parameters for head tags. */


head {

}


/* Parameters for body tags. */


body {

}


header {
    background: #2e354f;
    padding: 45px 0;
    color: #fff;
}


section {
}


/* Parameters for sections. */


h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 36px;
}


h3{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
}


h6 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}


li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}


ol {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}


p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}


small {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9px;
}


/* Parameters for classes. */


.container_type {
    width: 10%;
    margin: 0 auto;
    border: 1px magenta;
}


.btn:hover {
    display: inline-block;
}
