/* Parameters for head tags. */

head {}



/* Parameters for body tags. */

body {
    background-color: white;
    display: grid;
    grid-gap: 3vh;
    grid-template-columns: repeat(auto-fill, minmax(42vh, 1fr));
    grid-auto-flow: row;
    padding: 1vh;
}

footer {}

header {}

section {
    align-self: start;
    background-color: cyan;
    border-radius: 3vh;
}

div {}

nav {}

/*
.module_null, .module_first, .module_second, .module_third, .module_fourth, .module_fifth, .module_sixth, .module_seventh, .module_eigth, .module_ninth, {
}
*/



/* Articles. */

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9vh;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 6vh;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 5vh;
    font-weight: bold;
}

h4 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 4vh;
}

h5 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3vh;
}

h6 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2vh;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}



/* Styling content. */

a {
    color: black;
    font-weight: bold;
}

cite {}

code {
    background-color: #edc9af;
    border-radius: 0.5vh;
    color: black;
    font-family: 'IBM Plex Mono', monospace;
    padding: 0 1vh;
}

li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2vh;
}

ol {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2vh;
}

small {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5vh;
}

ul {}



/* Graphics. */

img {
    width: 100%;
}



/* Parameters for classes. */

.element_divider {
    border-radius: 3vh;
    padding: 3vh;
}

.element_navigator ul {
    list-style-type: none;
    padding: 1vh;
}

.element_list {
    display: inline-block;
    padding: 1vh;
}

.element_list a::after {
    color: #edc9af;
    display: inline-block;
    padding: 3vh;
}
