/* Parameters for head tags. */


head {
}


/* Parameters for body tags. */


body {
}


footer {
}


header {
}


section {
}


/* Parameters for sections. */


cite {
}


code {
    background-color: light-grey;
}


h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 36px;
}


h3{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
}


h6 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}


img {
    width: 100%;
}


li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}


ol {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}


p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}


small {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9px;
}


/* Parameters for classes. */


.button:hover {
    display: inline-block;
}


.element_divider {
    border: 1% magenta;
    gap: 3%;
    grid-template-columns: repeat(3, 96%);
    grid
    margin: 0 auto;
    width: 90%;
}
